body {
    font-size: 16px;
    color: darkslategray;
}

.clock {
    font-family: "Nerko One";
    /* display: flex; */
    /* border: 1px solid red; */
    justify-content: space-between;
    width: 250px;
    margin: 0 auto;
    background-color: lightcoral;
    padding: 15px;
    border-radius: 4px;
}

h1 {
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    display: flex;
    /* border: 1px solid blue; */
    justify-content: space-between;
    margin: 0;
    
}

p {
    margin: 0;
    /* border: 1px solid green; */
}