/* PHASE 4: Footer */

.footer {
    width: 900px;
    margin: auto;
    background-color: #fff;
    color: #aaa;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.footer-copy {
    float: left;
    padding: 20px;
}

.footer-links {
    float: right;
    padding: 20px;
    display: flex;
}

.footer-links > li {
    float: right;
    padding-left: 20px;
    flex-direction: row-reverse;
}

.footer a {
}

.footer a:hover {

}
